<ion-header mode="ios" >
  <ion-toolbar mode="ios" style="--background: transparent;">
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-button>
          <ion-icon name="arrow-back"  mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title style="font-size: 14px;">Earnings & Payment Request</ion-title>

      <ion-buttons slot="primary">
          <ion-button>
              <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios" text-center>
    
    <!-- <ion-row *ngIf="cashout_status==0">
      <ion-col style="color: black" mode="ios" text-left>
          <ion-label class="lvltext"><b>You are unable to cashout as of this moment. Please reach 50k gold bars to cashout.</b>&nbsp;&nbsp;</ion-label>
      </ion-col>
    </ion-row> -->

    <div class="overlaybackground txtimage">
    </div>
      <ion-toolbar mode="ios" style="--background: transparent;padding-top: 3%;">
        <ion-text color="warning"><p style="font-size: 15px;"><b>Your Total Accumulated Gold Bars</b></p></ion-text>
        <ion-text color="warning"><h4 style="margin-top: 0%;"><img class="lvlicon" src="assets/icon/gold.png">
            <b class="lvlnum">{{gold_bar | number:'1.0':'en-US'}}</b></h4></ion-text>
        <ion-text *ngIf="cashout_status==0" color="warning"><p class="text_gold"><b>
            You need to collect a total number of {{peak_gold_bar | number:'1.0':'en-US'}}
            GOLD BARS to unlock the cashout method.
          </b></p></ion-text>
        <div class="form_overlay">
          <ion-card mode="ios" style="box-shadow: none;margin-top: 10%;">
            <img mode="ios" src="assets/icon/brixylogo.png" style="width: 40%;margin: auto;padding-top: 5%;" />
            <ion-list class="line-input">
              <ion-row>
                <ion-col>
                  <ion-label color="dark" class="item_label">Payoneer ID</ion-label>
                  <ion-item>
                    <ion-input text-center type="text" [(ngModel)]="payoneerId" mode="ios" class="item_input" size="small"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
            <ion-card-header mode="ios" style="padding-bottom: 0;">
              <ion-card-title style="font-weight: bolder;text-transform: uppercase;">Choose A Payout Option</ion-card-title>
            </ion-card-header>
            <ion-card-content mode="ios" no-padding>
              <ion-list class="line-input">
                <ion-row>
                  <ion-col>
                    <ion-button expand="block" (click)="paymentRequest(1)" shape="round" mode="ios" class="payoutbtn">Payout 1</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button expand="block" (click)="paymentRequest(2)" shape="round" mode="ios" class="payoutbtn">Payout 2</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                      <ion-button expand="block" (click)="paymentRequest(3)"  shape="round" mode="ios" class="payoutbtn">Payout 3</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button expand="block" (click)="paymentRequest(4)" shape="round" mode="ios" class="payoutbtn">Payout 4</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button expand="block" (click)="paymentRequest(5)" shape="round" mode="ios" class="payoutbtn">Payout 5</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button expand="block" (click)="paymentRequest(6)" shape="round" mode="ios" class="payoutbtn">Payout 6</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button expand="block" (click)="paymentRequest(7)" shape="round" mode="ios" class="payoutbtn">Payout 7</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <!-- <ion-col>
                      <ion-button expand="block" color="dark" fill="outline" (click)="cashout_status==1 ? paymentRequest(7): false;" shape="round" mode="ios" class="payoutbtn">Payout 7</ion-button>
                    </ion-col> -->
                    <ion-col *ngIf="overAccumulated">
                      <ion-button expand="block" (click)="paymentRequest(123)" shape="round" mode="ios" class="payoutbtn">Custom Payout</ion-button>
                    </ion-col>
                  </ion-row>
              </ion-list>
              <!-- <ion-list>
                <ion-row>
                  <ion-col>
                    <ion-button expand="block" mode="ios">SEND PAYOUT REQUEST</ion-button>
                  </ion-col>
                </ion-row>
              </ion-list> -->
            </ion-card-content>
          </ion-card>
        </div>
      </ion-toolbar>

    
    <!-- <ion-row>
        <ion-col style="color: black" mode="ios" text-left>
            <ion-label class="lvltext"><b>GOLD BARS:</b>&nbsp;&nbsp;</ion-label> <br>
            <img class="lvlicon" src="assets/icon/gold.png">
            <ion-text class="lvlnum">{{gold_bar | number:'1.0':'en-US'}}</ion-text>
        </ion-col>
        <ion-col style="color: black;margin-top: 1.2%;" mode="ios" text-right>
            <ion-label class="lvltext"><b>COINS:</b>&nbsp;&nbsp;</ion-label><br>
            <img class="lvlicon2" src="assets/icon/imgcoin.png">
            <ion-text class="lvlnum">{{user_coins | number:'1.0':'en-US'}}</ion-text>
        </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row  mode="ios" text-center style="background: #1dc1e6;border-radius: 30px;width: 100%;">
          <ion-col style="color: white" >
              <ion-label>Payment Request&nbsp;&nbsp;</ion-label>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-list  mode="ios">
                  <ion-item *ngFor="let x of paychartList;" (click)="cashout_status==1 ? paymentRequest(x): false;">
                      <ion-label style="font-size: 12px">
                          <ion-icon name="logo-bitcoin" style="zoom: 1.2" color="warning"></ion-icon>{{x.gold_bars}}</ion-label>
                      <ion-note slot="end" color="danger" no-padding style="padding-top: 5px;">
                          <ion-button [disabled]="cashout_status==0"  mode="ios" size="small" color="success" fill="outline" style="font-size:11px">
                                  USD {{x.usd_amount}}</ion-button>
                      </ion-note>
                  </ion-item>
              </ion-list>
          </ion-col>
      </ion-row>
  </ion-grid> -->

   
</ion-content>
