.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 100px;
        margin-top: 4%;
    }
}
.item_input{
    font-size: 14px;
    // --padding-top: 0;
    color: #424242!important;
}
.item_label{
    color: #b3aeae !important;
    font-weight: 300;
    font-size: 13px;
}