
<ion-content>
  <div class="my-overlay" text-center>
    <ion-row >
        <ion-col text-left size="8">
          <ion-list mode="ios" style="background-color: transparent;">
            <ion-item mode="ios" lines="none" class="item_profile">
              <ion-thumbnail slot="start" mode="ios" (click)="openliveprofile()">
                  <div *ngIf="!user_photo">
                    <img src="assets/icon/brixylogo.png">
                  </div>
                  <div *ngIf="user_photo">
                   <img [src] = "user_photo">
                  </div> 
              </ion-thumbnail>
              <ion-label mode="ios" color="light">
                <h3 mode="ios" style="font-family: system-ui;">{{fname+" "+lname}}</h3>
                <h6 class="lvlnum" mode="ios" style="font-size: 12px;"> 
                  <img src="assets/icon/medal.png" class="badge_knight3">&nbsp;{{user_level}}&nbsp;&nbsp;
                  <img src="assets/icon/follow.png" class="badge_knight3">&nbsp;{{followers}}&nbsp;&nbsp;
                  <img src="assets/icon/viewer.png" class="badge_knight3">&nbsp;{{following}}</h6>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col text-left size="4">
          <div class="thumnails">
            <div class="list-thumbnail">
              <div class="img-thumb">
                <div style="display: inline-block;" *ngFor="let view of viewersPic;">
                  <img [src] = "view?.viewerPic">
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding style="margin-top: -10%;">
        <ion-col text-left>
          <ion-row>
            <ion-col style="padding-left: 0;">
              <img src="assets/icon/report.png" class="brixy-icon" style="width: 23% !important;">
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col style="padding-left: 0;margin-top: 8%;">
              <img (click)="follow()" [ngClass]="status ? 'myHeartFollow' : 'myHeartUnfollow'">
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col style="padding-left: 0;margin-top: 8%;">
              <img src="assets/icon/kick.png" class="brixy-icon" >
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col style="padding-left: 0;margin-top: 8%;">
              <img src="assets/icon/close.png" (click)="goHome()" class="brixy-icon" >
            </ion-col>
          </ion-row> -->
        </ion-col>
        <ion-col text-right>
          <img src="assets/icon/close.png" (click)="goHome()" class="brixy-icon" >
          <!-- <ion-icon (click)="goHome()" class="close_icon" name="close" mode="ios" mode="ios"></ion-icon> -->
        </ion-col>
      </ion-row>
  </div>
  <!-- <video id="localVideo" autoplay playsinline [muted]="'muted'" style="height: 95%"></video> -->
  <!-- <img src="assets/icon/girl.gif" style="height: 95%;"> -->

  

  <div class="my-overlay" style="bottom:0%;" text-left>
    <div class="overlay_message">
      <div class="wrapper">
        <ion-row>
          <ion-col>
            <p *ngFor="let message of messages">
              <ion-label color="warning"><b>{{message.user_id}}</b></ion-label>&nbsp;
              <ion-text color="light">
              {{message.msg}}</ion-text>
            </p> 
            <p style="visibility: hidden;margin-bottom: -12%;">
                <ion-label color="warning"><b>userid544</b></ion-label>&nbsp;
                <ion-text color="light">fdfdsffdf dffdfd sffd fdffdfds ffdfdff dfdsffd fd ffd fdsffdfdffdfdsffdfdf
                </ion-text>
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <ion-toolbar color="light">
      <ion-row align-items-center>
        <ion-col size="10">
          <ion-textarea color="dark" placeholder="Write message" class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button mode="ios" expand="block" fill="clear" [disabled]="message === ''" class="msg-btn"
            (click)="sendMessage()">
            <ion-icon name="ios-send" slot="icon-only" mode="ios" color="primary"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>

  <!-- <button ion-button
    *ngIf="!isBroadcasting"
    [disabled]="!broadcaster || isPending"
    (click)="start()">
    Start
  </button>

  <button ion-button
    *ngIf="isBroadcasting"
    [disabled]="isPending"
    (click)="stop()"
    color="danger">
    Stop
  </button>

  <button ion-button icon-only
    *ngIf="broadcaster"
    [disabled]="isPending"
    (click)="switchCamera()">
    <ion-icon name="reverse-camera"></ion-icon>
  </button> -->
  
  <ion-grid>
    <ion-row>
      <ion-col size="4">

        <ion-button expand="block" fill="clear" mode="ios" *ngIf="!isBroadcasting"
        [disabled]="!broadcaster || isPending"
        (click)="start()" color="primary">Start</ion-button>

        <ion-button expand="block" fill="clear" mode="ios" *ngIf="isBroadcasting"
        [disabled]="isPending"
        (click)="stop()"
        color="danger">Stop</ion-button>
      </ion-col>
      <ion-col  size="8">
        <ion-button expand="block" mode="ios" *ngIf="broadcaster"
        [disabled]="isPending"
        (click)="switchCamera()" color="secondary">Switch Camera</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
</ion-content>
