
<app-header [headerTitle]="'Messages'"></app-header>

<ion-content mode="ios">
  <ion-searchbar style="padding-top: 0;" mode="ios" (ionInput)="filterData($event)" ></ion-searchbar>

  <ion-list mode="ios">
    <ion-item id="for_thumbnail" mode="ios" (click)="searchedConvo(item.id)"  *ngFor="let item of searchData;">
      <ion-thumbnail slot="start" mode="ios">
        <div *ngIf="!item?.profile_photo">
          <img src="assets/icon/brixylogo.png" >
        </div>
        <div *ngIf="item?.profile_photo">
          <img [src] = "item?.profile_photo" >
        </div> 
      </ion-thumbnail>
      <ion-label mode="ios">
        <h2 style="font-size: 18px;" mode="ios">
          {{item?.nickname}}</h2>
      </ion-label>
    </ion-item>
    <ion-item id="for_thumbnail" mode="ios" [ngClass]="myClass ? 'ion-hide' : ''"   *ngFor="let conversation of myConversations;">
      <ion-thumbnail slot="start" mode="ios" (click)="viewProfile(conversation?.id)">
        <div *ngIf="!conversation?.profile_photo">
          <img src="assets/icon/brixylogo.png" >
        </div>
        <div *ngIf="conversation?.profile_photo">
          <img [src] = "conversation?.profile_photo" >
        </div> 
      </ion-thumbnail>
      <ion-label (click)="goMessage(conversation?.id)" mode="ios" [ngClass]="conversation?.user_sent != login_user_id ? (conversation?.status == '0' ? 'unread' : '') : '' ">
        <h2 [ngClass]="conversation?.user_sent != login_user_id ? (conversation?.status == '0' ? 'unread' : '') : ''" style="font-size: 18px;" mode="ios">
          {{conversation?.nickname}}</h2>
        <h3 mode="ios" style="color: rgb(0 0 0 / 0.4);font-size: 16px;">{{conversation?.message}}</h3>
        <ion-row>
          <ion-col text-right no-padding>
            <h3 mode="ios" color="dark" style="font-size: 14px;">{{conversation?.date}} {{conversation?.time}}</h3>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>


