
  <ion-header mode="ios">
    <ion-toolbar mode="ios">
     
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios">
            <ion-icon name="arrow-back" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title mode="ios">Signup with SMS</ion-title>

      <ion-buttons slot="primary" mode="ios">
        <ion-button mode="ios">
            <img src="assets/icon/brixylogo.png" style="width: 34px;" mode="ios">
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-avatar style="margin: auto;margin-top: 10%;">
    <img src="assets/icon/brixylogo.png">
  </ion-avatar>
  <br>
    <ion-list class="line-input" padding>
      <ion-row>
        <ion-col>
          <ion-label class="item_label" text-left>Country Code</ion-label>
          <ion-item>
            <ion-label  class="item_label" style="margin-top: 0;">Select One</ion-label>
            <ion-select interface="popover"  class="item_select" mode="ios" [(ngModel)]="inpt_country">
              <ion-select-option value="63" selected>Philippines (+63)</ion-select-option>
              <ion-select-option value="44">UK (+44)</ion-select-option>
              <ion-select-option value="91">India (+91)</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
   
    <ion-list class="line-input" padding style="padding-top: 0;">
      <ion-row>
        <ion-col size="8">
          <ion-label class="item_label">Mobile</ion-label>
          <ion-item>
            <ion-input mode="ios" type="number"  placeholder="e.g. 9123456789" [(ngModel)]="inpt_mobile" class="item_input" size="small"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" mode="ios" (click)="sendOTP()" size="small" style="margin-top: 32%;opacity: 0.8;">
            GET CODE
        </ion-button> 
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list class="line-input" padding style="padding-top: 0;">
      <ion-row>
        <ion-col>
          <ion-label class="item_label">Code</ion-label>
          <ion-item>
            <ion-input mode="ios" placeholder="Enter code here" class="item_input" size="small" (click)="sendOTP()" type="number" [(ngModel)]="inpt_code"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list padding>
      <ion-row>
        <ion-col>
          <ion-button expand="block" mode="ios" (click)="login()">SAVE</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
</ion-content>
