ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
		}
	}
	ion-tab-bar {
		--border: 0;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
        }
        ion-tab-button:nth-child(1) {
            ion-icon { content: url('/assets/icon/home-outline.svg') !important;}}
        ion-tab-button.tab-selected:nth-child(1) {
            ion-icon {content: url('/assets/icon/home-svg.svg') !important;}}
        
        ion-tab-button:nth-child(2) {
            ion-icon { content: url('/assets/icon/chatbubbles-outline.svg') !important;}}
        ion-tab-button.tab-selected:nth-child(2) {
            ion-icon {content: url('/assets/icon/chatbubbles-svg.svg') !important;}}

        ion-tab-button.followers {
            ion-icon { content: url('/assets/icon/heart-outline.svg') !important;}}
        ion-tab-button.followers.tab-selected {
            ion-icon {content: url('/assets/icon/heart-svg.svg') !important;}}

        ion-tab-button.profile {
            ion-icon { content: url('/assets/icon/person-circle-outline.svg') !important;}}
        ion-tab-button.profile.tab-selected {
            ion-icon {content: url('/assets/icon/person-circle-svg.svg') !important;}}

		ion-tab-button {
			--background: var(--ion-color-light);
		}
		svg {    
			width: 72px;
			margin-top: 19px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}