
<ion-tabs mode="ios">  

  <ion-fab mode="ios" vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button mode="ios" (click)="toTab3()">
      <ion-icon mode="ios" name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-tab-bar mode="ios" slot="bottom" class="ion-no-border">
    <ion-tab-button mode="ios" tab="tab1">
      <ion-icon></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="tab5">
      <ion-icon></ion-icon>
      <ion-badge style="font-weight: normal;" color="danger" mode="ios">2</ion-badge>
    </ion-tab-button>

    <svg mode="ios" height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button mode="ios" tab="tab2" class="followers">
      <ion-icon></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="myaccount" class="profile">
      <ion-icon></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



<!-- <ion-tabs mode="ios" color="secondary">
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="tab1">
      <img src="assets/icon/home.png" class="colored_tabicon">
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <img src="assets/icon/chat.png" style="width: 28px !important;">
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <img src="assets/icon/aperture.png" style="width: 28px !important;">
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <img src="assets/icon/follow.png" class="colored_tabicon">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->