.lvlicon2{
    width: 40px !important;
    height: 40px;
    margin: auto;
    margin-bottom: -1%;
    margin-right: 2%;
  }
  .lvltext{
    text-transform: capitalize;
    font-size: 12px;
    font-family: arial;
  }
  .lvlnum{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }

  .lvlicon3{
    width: 35px !important;
    height: 35px;
    margin: auto;
    margin-bottom: -1%;
    margin-right: 1%;
  }
  .lvltext2{
    text-transform: capitalize;
    font-size: 22px;
    font-family: arial;
  }
  .lvlnum2{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
  }
  .line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 40px;
    }
}
.item_input{
    font-size: 14px;
    color: black!important;
    text-align: center !important;
    margin-top: -5%;
}
.item_label{
    color: #b3aeae !important;
    font-weight: 300;
    font-size: 13px;
}