
<ion-content mode="ios" text-center style="--overflow: hidden;">
  <ion-row justify-content-center align-items-center style='height: 100%'>
    <ion-col>
      <div *ngIf="!custom">
        <ion-row style="padding-bottom: 5px;">
          
          <ion-col style="color: black;" mode="ios" text-center>
            <img class="lvlicon2" src="assets/icon/dollar.png">
            <ion-text class="lvlnum">USD {{paychart.usd_amount}}</ion-text>
        </ion-col>
        </ion-row>
        <h5 style="font-weight: bold;padding-bottom: 3%;">Request Cashout? </h5>
        <p mode="ios" style="line-height: 0;">TOTAL</p> 
        <ion-row style="padding-bottom: 5px;margin-top: -2%;">
          <ion-col style="color: black;margin-top: 1.2%;" mode="ios" text-center>
            <img class="lvlicon3" src="assets/icon/gold.png">
            <ion-text class="lvlnum2">{{paychart.gold_bars}}</ion-text>
        </ion-col>
        </ion-row>
      </div>
    
      <div *ngIf="custom">
        <ion-row padding style="padding-bottom: 5px;padding-top: 0;">
          <ion-col style="color: black;margin-top: 1.2%;" mode="ios" text-center>
            <ion-list class="line-input" style="padding: 0;">
              <ion-row>
                <ion-col size="3" no-padding><img class="lvlicon2" src="assets/icon/gold.png"></ion-col>
                <ion-col size="9" text-left no-padding>
                  <ion-item>
                    <ion-input placeholder="Enter here" mode="ios" type="number" [(ngModel)]="in_gold_bar" class="item_input" size="small"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>
        </ion-row>
        <h5 style="font-weight: bold;padding-bottom: 3%;">Request Cashout? </h5>
        <p mode="ios" style="line-height: 0;">TOTAL</p> 
        <ion-row style="padding-bottom: 5px;margin-top: -2%;">
          <ion-col style="color: black;" mode="ios" text-center>
              <img class="lvlicon3" src="assets/icon/dollar.png">
              <ion-text class="lvlnum2">USD {{in_usd_amount}}</ion-text>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
  
 
</ion-content>
<ion-footer mode="ios">
  <ion-row padding style="padding-bottom: 0;padding-top: 0;">
    <ion-col>
      <ion-button  [disabled]="cashout_status==0" (click)="confirmPaymentRequest()" mode="ios" expand="block">
        Proceed
      </ion-button>
    </ion-col>
  </ion-row>
    <!-- <ion-toolbar mode="ios" style="padding-left: 10px;padding-right: 10px">
        <ion-button slot="start" mode="ios" color="danger" size="small" (click)="closeModal()">
          Cancel
        </ion-button>
         <ion-button slot="end" [disabled]="cashout_status==0" (click)="confirmPaymentRequest()" mode="ios" color="secondary" size="small">
          Proceed
        </ion-button>
      </ion-toolbar> -->
</ion-footer>