<app-header [headerTitle]="'Users'"></app-header>

<ion-segment style="padding: 5px" color="primary" mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment">
  <ion-segment-button layout="icon-start" style="padding: 3px" mode="ios" value="0">
      <ion-label>Followers &nbsp;&nbsp;&nbsp;
        <b style="font-size:13px" text-right>{{totalFollower}}</b>
      </ion-label>
      <ion-icon name="people" mode="ios"></ion-icon>
  </ion-segment-button>  
  <ion-segment-button layout="icon-start" style="padding: 3px" mode="ios" value="1">
      <ion-label>Following &nbsp;&nbsp;&nbsp;
        <b style="font-size:13px" text-right>{{totalFollowing}}</b>
      </ion-label>
      <ion-icon name="people" mode="ios"></ion-icon>
     
  </ion-segment-button>
</ion-segment>

<ion-content mode="ios">
    <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-list mode="ios">
                  <ion-item id="for_thumbnail" mode="ios" (click)="openliveprofile(follower?.id)" *ngFor="let follower of myFollowers">
                    <ion-thumbnail slot="start" mode="ios">
                      <div *ngIf="!follower?.picture">
                        <img src="assets/icon/brixylogo.png">
                      </div>
                      <div *ngIf="follower?.picture">
                        <img [src] = "follower?.picture">
                      </div>  
                    </ion-thumbnail>
                    <ion-label mode="ios">
                      <h2 style="font-size: 18px;" mode="ios">{{follower?.fname+" "+follower?.lname}}</h2>
                      <h3 style="font-size: 16px;" mode="ios"><img src="assets/icon/location.png" class="colored_pin"> {{follower?.city+", "+follower?.country}}</h3>
                      <h6 mode="ios" style="font-size: 15px;font-weight: lighter;padding-top: 2%;"> 
                        <img src="assets/icon/knight2.png" class="badge_knight2">&nbsp;{{follower?.badge_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="assets/icon/medal.png" class="badge_knight2">&nbsp;{{follower?.user_level}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="assets/icon/follow.png" class="badge_knight2">&nbsp;{{follower?.follower}}</h6>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-list mode="ios">
                  <ion-item id="for_thumbnail" mode="ios" (click)="openliveprofile(following?.id)" *ngFor="let following of iFollowed">
                    <ion-thumbnail slot="start" mode="ios">
                      <div *ngIf="!following?.picture">
                        <img src="assets/icon/brixylogo.png">
                      </div>
                      <div *ngIf="following?.picture">
                        <img [src] = "following?.picture">
                      </div>  
                    </ion-thumbnail>
                    <ion-label mode="ios">
                      <h2 style="font-size: 18px;" mode="ios">{{following?.fname+" "+following?.lname}}</h2>
                      <h3 style="font-size: 16px;" mode="ios"><img src="assets/icon/location.png" class="colored_pin"> {{following?.city+", "+following?.country}}</h3>
                      <h6 mode="ios" style="font-size: 15px;font-weight: lighter;padding-top: 2%;"> 
                        <img src="assets/icon/knight2.png" class="badge_knight2">&nbsp;{{following?.badge_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="assets/icon/medal.png" class="badge_knight2">&nbsp;{{following?.user_level}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="assets/icon/follow.png" class="badge_knight2">&nbsp;{{following?.follower}}</h6>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
    </ion-slides>
        
   
</ion-content>