<ion-header translucent mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button>
            <ion-icon name="arrow-back" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Terms of Service</ion-title>

      <ion-buttons slot="primary">
        <ion-button>
            <img src="assets/icon/brixylogo.png" style="width: 34px;" mode="ios">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <iframe src="https://brixylive.com/terms-of-service" style="height: 80vh; width: 100%;"></iframe>
<!-- <p class="justify" padding style="margin-bottom: 50px;" mode="ios">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Cras vel lacus ut ipsum vehicula aliquam at quis urna. Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fu
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Cras vel lacus ut ipsum vehicula aliquam at quis urna. Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fu
  </p> -->
  <br> <br> <br> <br> <br> <br> 
  <div class="my-overlay" padding>
    <ion-text mode="ios">
      <h6 mode="ios" text-center style="font-size: 13px;font-weight: 500;color: #a5a5a5;margin-bottom: 5%;margin-top: 2%;">
        By proceeding you also agree to the Terms of <br>Service and Privacy Policy</h6>
    </ion-text>
    <ion-button (click)="agreeTermed()" expand="block" mode="ios" style="margin-bottom: 7%;" color="primary">
      SIGN UP
    </ion-button>
    <!-- <ion-item style="text-align: center;" lines="none">
        <ion-checkbox mode="ios" (click)="agreeTermed()" style="font-size: 10px;" color="primary"></ion-checkbox>
        <ion-label style="font-size: 12px;"><b> I agree to the Terms and Conditions of Brixy Live</b></ion-label>
    </ion-item>
     <ion-row>
    <ion-col text-center>
        <ion-button mode="ios" style="width:100%" [disabled]="!checked" shape="round" color="primary" (click)="goLive()">Continue</ion-button>
      </ion-col>
      <ion-col text-center>
          <ion-button mode="ios" shape="round" style="width:100%" color="light" (click)="goBack()">Cancel</ion-button>
      </ion-col> 
    </ion-row> -->
    
</div>
</ion-content>