<app-header [headerTitle]="'Home'"></app-header>

<ion-segment mode="ios" style="padding:5px;padding-bottom: 5px;" (ionChange)="segmentChanged()" [(ngModel)]="segment"> 
  <ion-segment-button mode="ios" value="0" layout="icon-start" style="padding: 3px" checked>
      <ion-label mode="ios">Public</ion-label> &nbsp;
      <ion-icon name="people" mode="ios"></ion-icon>
  </ion-segment-button>
  <ion-segment-button mode="ios" value="1" layout="icon-start" style="padding: 3px">
      <ion-label mode="ios">Private</ion-label> &nbsp;
      <ion-icon mode="ios" name="contacts"></ion-icon>
  </ion-segment-button>
  <ion-segment-button mode="ios" value="2" layout="icon-start" style="padding: 3px">
      <ion-label mode="ios">Ranking</ion-label> &nbsp;
      <ion-icon mode="ios" name="trophy"></ion-icon>
  </ion-segment-button>
  <ion-segment-button mode="ios" value="3" layout="icon-start" style="padding: 3px">
      <ion-label mode="ios">News</ion-label> &nbsp;
      <ion-icon mode="ios" name="paper"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-content mode="ios" (scroll)="onScroll($event)" ion-padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
    <ion-slide>
      <ion-grid>

        <div *ngIf="!withresult">
          <p>No Brixy Streamers are live at this moment. </p>
        </div>

        
          <ion-row *ngFor="let livestream of livestreamers; let i = index">
              <ion-col (click)="goVideo(livestream?.id+'_'+livestream?.stream_id)" *ngIf="i == 0">
                  <ion-card class="myBroadcast" no-margin mode="ios">
                          <div *ngIf="!livestream?.picture">
                            <img src="assets/icon/brixylogo.png" style="width: 100%;height: 40%;">
                          </div>
                          <div *ngIf="livestream?.picture">
                            <img [src] = "livestream?.picture" style="width: 100%;height: 40%;">
                          </div> 
                          <div class="topOverlay">
                            <ion-item style="--background:transparent;margin-top: -3%;" lines="none">
                              <img src="assets/icon/location.png" class="colored_pin">
                              <ion-label color="light" mode="ios" style="font-size: 16px;">{{livestream?.city}}</ion-label>
                            </ion-item>
                          </div>
                          <div class="bottomOverlay">
                            <div style="left: 4%;bottom: 10%;position: absolute;">
                              <div class="card-title" mode="ios" style="font-weight: lighter;font-size: 21px;">{{livestream?.fname}}</div>
                              <div class="card-subtitle">
                                <ion-row style="margin-top: 0%;margin-bottom: 5%;">
                                  <ion-col style="padding-left: 1px;">
                                    <img src="assets/icon/knight2.png" class="badge_knight" style="width: 25px !important;">
                                    <ion-label mode="ios" style="font-weight: lighter;font-size: 16px;display: inline-block;">&nbsp;{{livestream?.badge_name}}</ion-label>
                                    &nbsp;&nbsp;&nbsp;
                                     <img src="assets/icon/medal.png" class="badge_knight">
                                      <ion-label style="font-size: 16px;" mode="ios">&nbsp;{{livestream?.user_level}}</ion-label>
                                      &nbsp;&nbsp;&nbsp;
                                      <img src="assets/icon/viewer.png" class="badge_knight" style="padding-top: 1%;">
                                      <ion-label style="font-size: 16px;"  mode="ios">&nbsp;{{livestream?.viewers}}</ion-label>
                                  </ion-col>
                                </ion-row>
                                <i style="font-weight: lighter;font-size: 16px;">{{livestream?.broadcast_topic}}</i>
                              </div>
                            </div>
                            <img src="assets/icon/livee.gif" style="width: 15%;right: 5%;position: absolute;top: 40%;"/>
                          </div>
                        </ion-card>
              </ion-col>
          </ion-row>

          <ion-grid class="grid-categories">
              <ion-row *ngFor="let livestream of livestreamers?.slice(1); let i = index" >
                <ion-col (click)="goVideo(livestream?.id+'_'+livestream?.stream_id)" *ngIf="i % 2 == 0" >
                  <ion-card class="myBroadcast" no-margin mode="ios">
                      <div *ngIf="!livestream?.picture">
                        <img src="assets/icon/brixylogo.png" style="width: 100%;height: 40%;">
                        </div>
                        <div *ngIf="livestream?.picture">
                        <img [src] = "livestream?.picture" style="width: 100%;height: 40%;">
                        </div> 
                        <div class="topOverlay">
                          <ion-item style="--background:transparent;margin-top: -9%;" lines="none">
                            <img src="assets/icon/location.png" class="colored_pin">
                            <ion-label color="light" mode="ios" style="font-size: 14px;">{{livestream?.city}}</ion-label>
                          </ion-item>
                        </div>
                        <div class="bottomOverlay">
                          <div style="left: 4%;bottom: 3%;position: absolute;">
                            <div class="card-title" mode="ios" style="font-weight: lighter;font-size: 19px;">{{livestream?.fname}}</div>
                            <div class="card-subtitle">
                              <ion-row style="margin-bottom: 2%;">
                                <ion-col style="padding-left: 1px;">
                                  <img src="assets/icon/knight2.png" class="badge_knight">
                                  <ion-label mode="ios" style="font-weight: lighter;font-size: 14px;display: inline-block;">&nbsp;{{livestream?.badge_name}}</ion-label>
                                  &nbsp;&nbsp;&nbsp;
                                  <img src="assets/icon/medal.png" class="badge_knight">
                                    <ion-label mode="ios">&nbsp;{{livestream?.user_level}}</ion-label>
                                    &nbsp;&nbsp;&nbsp;
                                    <img src="assets/icon/viewer.png" class="badge_knight" style="padding-top: 1%;">
                                    <ion-label mode="ios">&nbsp;{{livestream?.viewers}}</ion-label>
                                </ion-col>
                              </ion-row>
                              <i style="font-weight: lighter;font-size: 14px;">{{livestream?.broadcast_topic}}</i>
                            </div>
                          </div>
                          <img src="assets/icon/livee.gif" style="width: 18%;right: 5%;position: absolute;top: 40%;"/>
                        </div>
                    </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          
            <ion-grid class="grid-categories">
              <ion-row *ngFor="let livestream of livestreamers?.slice(1); let i = index" >
                <ion-col (click)="goVideo(livestream?.id+'_'+livestream?.stream_id)" *ngIf="i % 2 != 0" >
                  <ion-card class="myBroadcast" no-margin mode="ios">
                    <div *ngIf="!livestream?.picture">
                      <img src="assets/icon/brixylogo.png" style="width: 100%;height: 40%;">
                      </div>
                      <div *ngIf="livestream?.picture">
                      <img [src] = "livestream?.picture" style="width: 100%;height: 40%;">
                      </div> 
                      <div class="topOverlay">
                        <ion-item style="--background:transparent;margin-top: -9%;" lines="none">
                          <img src="assets/icon/location.png" class="colored_pin">
                          <ion-label color="light" mode="ios" style="font-size: 14px;">{{livestream?.city}}</ion-label>
                        </ion-item>
                      </div>
                      <div class="bottomOverlay">
                        <div style="left: 4%;bottom: 3%;position: absolute;">
                          <div class="card-title" mode="ios" style="font-weight: lighter;font-size: 19px;">{{livestream?.fname}}</div>
                          <div class="card-subtitle">
                            <ion-row style="margin-bottom: 2%;">
                              <ion-col style="padding-left: 1px;">
                                <img src="assets/icon/knight2.png" class="badge_knight">
                                <ion-label mode="ios" style="font-weight: lighter;font-size: 14px;display: inline-block;">&nbsp;{{livestream?.badge_name}}</ion-label>
                                &nbsp;&nbsp;&nbsp;
                                <img src="assets/icon/medal.png" class="badge_knight">
                                  <ion-label mode="ios">&nbsp;{{livestream?.user_level}}</ion-label>
                                  &nbsp;&nbsp;&nbsp;
                                  <img src="assets/icon/viewer.png" class="badge_knight" style="padding-top: 1%;">
                                  <ion-label mode="ios">&nbsp;{{livestream?.viewers}}</ion-label>
                              </ion-col>
                            </ion-row>
                            <i style="font-weight: lighter;font-size: 14px;">{{livestream?.broadcast_topic}}</i>
                          </div>
                        </div>
                        <img src="assets/icon/livee.gif" style="width: 18%;right: 5%;position: absolute;top: 40%;"/>
                      </div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-grid>
        </ion-slide>

<!-- for private block -->
    <ion-slide>
      <ion-grid>

        <div *ngIf="!withresult21">
          <p>No Brixy Streamers are live at this moment. </p>
        </div>

    
      <ion-row *ngFor="let livestream of livestreamersPrivate; let i = index">
          <ion-col (click)="goVideo(livestream?.id+'_'+livestream?.stream_id)" *ngIf="i == 0">
            <ion-card class="myBroadcast" no-margin mode="ios">
              <div *ngIf="!livestream?.picture">
                <img src="assets/icon/brixylogo.png" style="width: 100%;height: 40%;">
              </div>
              <div *ngIf="livestream?.picture">
                <img [src] = "livestream?.picture" style="width: 100%;height: 40%;">
              </div> 
              <div class="topOverlay">
                <ion-item style="--background:transparent;margin-top: -3%;" lines="none">
                  <img src="assets/icon/location.png" class="colored_pin">
                  <ion-label color="light" mode="ios" style="font-size: 16px;">{{livestream?.city}}</ion-label>
                </ion-item>
              </div>
              <div class="bottomOverlay">
                <div style="left: 4%;bottom: 10%;position: absolute;">
                  <div class="card-title" mode="ios" style="font-weight: lighter;font-size: 21px;">{{livestream?.fname}}</div>
                  <div class="card-subtitle">
                    <ion-row style="margin-top: 0%;margin-bottom: 5%;">
                      <ion-col style="padding-left: 1px;">
                        <img src="assets/icon/knight2.png" class="badge_knight" style="width: 25px !important;">
                        <ion-label mode="ios" style="font-weight: lighter;font-size: 16px;display: inline-block;">&nbsp;{{livestream?.badge_name}}</ion-label>
                        &nbsp;&nbsp;&nbsp;
                        <img src="assets/icon/medal.png" class="badge_knight">
                          <ion-label style="font-size: 16px;" mode="ios">&nbsp;{{livestream?.user_level}}</ion-label>
                          &nbsp;&nbsp;&nbsp;
                          <img src="assets/icon/viewer.png" class="badge_knight" style="padding-top: 1%;">
                          <ion-label style="font-size: 16px;"  mode="ios">&nbsp;{{livestream?.viewers}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <i style="font-weight: lighter;font-size: 16px;">{{livestream?.broadcast_topic}}</i>
                  </div>
                </div>
                <img src="assets/icon/livee.gif" style="width: 15%;right: 5%;position: absolute;top: 40%;"/>
              </div>
            </ion-card>
          </ion-col>
      </ion-row>

      <ion-grid class="grid-categories">
          <ion-row *ngFor="let livestream of livestreamersPrivate?.slice(1); let i = index" >
            <ion-col (click)="goVideo(livestream?.id+'_'+livestream?.stream_id)" *ngIf="i % 2 == 0" >
                <ion-card class="myBroadcast" no-margin mode="ios">
                  <div *ngIf="!livestream?.picture">
                    <img src="assets/icon/brixylogo.png" style="width: 100%;height: 40%;">
                    </div>
                    <div *ngIf="livestream?.picture">
                    <img [src] = "livestream?.picture" style="width: 100%;height: 40%;">
                    </div> 
                    <div class="topOverlay">
                      <ion-item style="--background:transparent;margin-top: -9%;" lines="none">
                        <img src="assets/icon/location.png" class="colored_pin">
                        <ion-label color="light" mode="ios" style="font-size: 14px;">{{livestream?.city}}</ion-label>
                      </ion-item>
                    </div>
                    <div class="bottomOverlay">
                      <div style="left: 4%;bottom: 3%;position: absolute;">
                        <div class="card-title" mode="ios" style="font-weight: lighter;font-size: 19px;">{{livestream?.fname}}</div>
                        <div class="card-subtitle">
                          <ion-row style="margin-bottom: 2%;">
                            <ion-col style="padding-left: 1px;">
                              <img src="assets/icon/knight2.png" class="badge_knight">
                              <ion-label mode="ios" style="font-weight: lighter;font-size: 14px;display: inline-block;">&nbsp;{{livestream?.badge_name}}</ion-label>
                              &nbsp;&nbsp;&nbsp;
                              <img src="assets/icon/medal.png" class="badge_knight">
                                <ion-label mode="ios">&nbsp;{{livestream?.user_level}}</ion-label>
                                &nbsp;&nbsp;&nbsp;
                                <img src="assets/icon/viewer.png" class="badge_knight" style="padding-top: 1%;">
                                <ion-label mode="ios">&nbsp;{{livestream?.viewers}}</ion-label>
                            </ion-col>
                          </ion-row>
                          <i style="font-weight: lighter;font-size: 14px;">{{livestream?.broadcast_topic}}</i>
                        </div>
                      </div>
                      <img src="assets/icon/livee.gif" style="width: 18%;right: 5%;position: absolute;top: 40%;"/>
                    </div>
                </ion-card>

            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-grid class="grid-categories">
          <ion-row *ngFor="let livestream of livestreamersPrivate?.slice(1); let i = index" >
            <ion-col (click)="goVideo(livestream?.id+'_'+livestream?.stream_id)" *ngIf="i % 2 != 0" >
              <ion-card class="myBroadcast" no-margin mode="ios">
                <div *ngIf="!livestream?.picture">
                  <img src="assets/icon/brixylogo.png" style="width: 100%;height: 40%;">
                  </div>
                  <div *ngIf="livestream?.picture">
                  <img [src] = "livestream?.picture" style="width: 100%;height: 40%;">
                  </div> 
                  <div class="topOverlay">
                    <ion-item style="--background:transparent;margin-top: -9%;" lines="none">
                      <img src="assets/icon/location.png" class="colored_pin">
                      <ion-label color="light" mode="ios" style="font-size: 14px;">{{livestream?.city}}</ion-label>
                    </ion-item>
                  </div>
                  <div class="bottomOverlay">
                    <div style="left: 4%;bottom: 3%;position: absolute;">
                      <div class="card-title" mode="ios" style="font-weight: lighter;font-size: 19px;">{{livestream?.fname}}</div>
                      <div class="card-subtitle">
                        <ion-row style="margin-bottom: 2%;">
                          <ion-col style="padding-left: 1px;">
                            <img src="assets/icon/knight2.png" class="badge_knight">
                            <ion-label mode="ios" style="font-weight: lighter;font-size: 14px;display: inline-block;">&nbsp;{{livestream?.badge_name}}</ion-label>
                            &nbsp;&nbsp;&nbsp;
                            <img src="assets/icon/medal.png" class="badge_knight">
                              <ion-label mode="ios">&nbsp;{{livestream?.user_level}}</ion-label>
                              &nbsp;&nbsp;&nbsp;
                              <img src="assets/icon/viewer.png" class="badge_knight" style="padding-top: 1%;">
                              <ion-label mode="ios">&nbsp;{{livestream?.viewers}}</ion-label>
                          </ion-col>
                        </ion-row>
                        <i style="font-weight: lighter;font-size: 14px;">{{livestream?.broadcast_topic}}</i>
                      </div>
                    </div>
                    <img src="assets/icon/livee.gif" style="width: 18%;right: 5%;position: absolute;top: 40%;"/>
                  </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-grid>
    </ion-slide>

<!-- for ranking block -->
        <ion-slide>
          <ion-grid style="width: 25%;">
           <ion-segment color="primary" mode="ios" style="padding:5px" (ionChange)="segmentRankingChanged()" [(ngModel)]="segmentRanking"> 
              <ion-segment-button mode="ios" value="0" layout="icon-start" style="padding: 3px" checked>
                  <ion-label>Streamers</ion-label>
                   <ion-icon name="camera"></ion-icon> 
              </ion-segment-button>
              <ion-segment-button mode="ios" value="1" layout="icon-start" style="padding: 3px">
                  <ion-label>Viewers</ion-label>
                   <ion-icon name="microphone"></ion-icon> 
              </ion-segment-button>
            </ion-segment>

            <ion-slides #slidesRanking (ionSlideDidChange)="slideRankingChanged()" mode="ios">
              <ion-slide>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-list mode="ios">
                        <ion-item id="for_thumbnail" mode="ios" (click)="openliveprofile(list?.id)" *ngFor="let list of rankingList">
                          <ion-thumbnail slot="start" mode="ios">
                            <div *ngIf="!list?.picture">
                              <img src="assets/icon/brixylogo.png">
                            </div>
                            <div *ngIf="list?.picture">
                              <img [src] = "list?.picture">
                            </div> 
                          </ion-thumbnail>
                          <ion-label mode="ios">
                            <h2 style="font-size: 18px;" mode="ios">{{list?.fname+" "+list?.lname}}</h2>
                            <h3 style="font-size: 16px;" mode="ios"> <img src="assets/icon/location.png" class="colored_pin"> {{list?.city+", "+list?.country}}</h3>
                            <h6 mode="ios" style="font-size: 15px;font-weight: lighter;padding-top: 2%;"> 
                              <img src="assets/icon/knight2.png" class="badge_knight2">&nbsp;{{list?.badge_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                              <img src="assets/icon/medal.png" class="badge_knight2">&nbsp;{{list?.user_level}}&nbsp;&nbsp;&nbsp;&nbsp;
                              <img src="assets/icon/follow.png" class="badge_knight2">&nbsp;{{list?.follower}}</h6>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-slide>

              <!-- for top viewers -->
              <ion-slide>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-list mode="ios">
                        <ion-item id="for_thumbnail" mode="ios" (click)="openliveprofile(list?.id)" *ngFor="let list of rankingListViewers">
                          <ion-thumbnail slot="start" mode="ios">
                            <div *ngIf="!list?.picture">
                              <img src="assets/icon/brixylogo.png">
                            </div>
                            <div *ngIf="list?.picture">
                              <img [src] = "list?.picture">
                            </div> 
                          </ion-thumbnail>
                          <ion-label mode="ios">
                            <h2 style="font-size: 18px;" mode="ios">{{list?.fname+" "+list?.lname}}</h2>
                            <h3 style="font-size: 16px;" mode="ios"> <img src="assets/icon/location.png" class="colored_pin"> {{list?.city+", "+list?.country}}</h3>
                            <h6 mode="ios" style="font-size: 15px;font-weight: lighter;padding-top: 2%;"> 
                              <img src="assets/icon/knight2.png" class="badge_knight2">&nbsp;{{list?.badge_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                              <img src="assets/icon/medal.png" class="badge_knight2">&nbsp;{{list?.user_level}}&nbsp;&nbsp;&nbsp;&nbsp;
                              <img src="assets/icon/follow.png" class="badge_knight2">&nbsp;{{list?.follower}}</h6>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-slide>

            </ion-slides>

          </ion-grid>
        </ion-slide>

<!-- for news block -->
        <ion-slide>
          <ion-grid>
            <ion-row >
              <ion-col>
                <ion-card mode="ios" *ngFor="let announce of announcement" no-margin text-left>
                  <ion-card-header mode="ios" class="card_header">
                    <ion-card-title mode="ios" class="card_title">{{announce.title}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content mode="ios" class="card_content">
                    {{announce.announcement}}
                    <br>
                    <div text-right class="card_time">{{announce.date}} {{announce.time}}</div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col>
                <ion-card mode="ios" no-margin text-left>
                  <ion-card-header mode="ios" class="card_header">
                    <ion-card-title mode="ios" class="card_title">NEWS TITLE HERE</ion-card-title>
                  </ion-card-header>
                  <ion-card-content mode="ios" class="card_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    <br>
                    <div text-right class="card_time">04/11/2020 3:02 PM</div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card mode="ios" no-margin text-left>
                  <ion-card-header mode="ios" class="card_header">
                    <ion-card-title mode="ios" class="card_title">NEWS TITLE HERE</ion-card-title>
                  </ion-card-header>
                  <ion-card-content mode="ios" class="card_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    <br>
                    <div text-right class="card_time">04/11/2020 3:02 PM</div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card mode="ios" no-margin text-left>
                  <ion-card-header mode="ios" class="card_header">
                    <ion-card-title mode="ios" class="card_title">NEWS TITLE HERE</ion-card-title>
                  </ion-card-header>
                  <ion-card-content mode="ios" class="card_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    <br>
                    <div text-right class="card_time">04/11/2020 3:02 PM</div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card mode="ios" no-margin text-left>
                  <ion-card-header mode="ios" class="card_header">
                    <ion-card-title mode="ios" class="card_title">NEWS TITLE HERE</ion-card-title>
                  </ion-card-header>
                  <ion-card-content mode="ios" class="card_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    <br>
                    <div text-right class="card_time">04/11/2020 3:02 PM</div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          -->
          <!-- <ion-row>
              <ion-col>
                  <ion-card no-margin mode="ios">
                      <img src="assets/icon/imgvideo.jpg" />
                  </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card no-margin mode="ios">
                      <img src="assets/icon/imgvideo.jpg" />
                  </ion-card>
              </ion-col>
          </ion-row>  -->

          </ion-grid>
        </ion-slide>
        
      </ion-slides>
</ion-content>