.btn-outline{
    --background: transparent;--border-color: #ebf1f0;--color: black
}

.grid-categories {
    width: 50%;
    float: left;
    padding: 0;
}

ion-item {
    --padding-start: 0% !important;
  }
.card_header{
    padding-bottom: 0;
}
.card_title{
    font-size: 15px;
}
.card_content{
    font-size: 14px;
    padding-top: 8px;
    line-height: 1.1;
}
.card_time{
    padding-top: 3%;
    color:black
}


