<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goTabs()">
        <ion-button mode="ios">
            <ion-icon name="arrow-back" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="primary" mode="ios">
        <ion-button mode="ios">
          <img src="assets/icon/location.png" class="colored_pin">
          <ion-label mode="ios" style="text-transform: capitalize;" color="dark">{{city}}</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content mode="ios" text-center>

<!-- <img src="assets/icon/brixylogo.png" style="width:90%;margin: auto;" mode="ios">  -->
<div *ngIf="!picture">
  <img src="assets/icon/brixylogo.png" style="width:90%;margin: auto;" > 
</div>
<div *ngIf="picture">
  <img [src] = "picture" style="width:90%;margin: auto;">
</div> 
<div class="ion-padding">
  <ion-label style="font-size: 15px;" text-left>You are now logged on using:</ion-label>
  <br><br>
  <ion-row>
      <ion-col text-center>
        <ion-label style="font-size: 12px;">Account Name:</ion-label><br>
        <img src="assets/icon/user.png" class="colored_icon">
        <ion-note style="font-size: 14px;color: #5a80fb">&nbsp;&nbsp;{{nickname}}</ion-note>
      </ion-col>
    <ion-col text-center>
      <ion-label style="font-size: 12px;">Login using:</ion-label><br>
      <!-- <img src="{{login_icon}}" class="colored_icon"> -->
      <img src="{{login_icon}}" class="colored_icon">
      <ion-label style="font-size: 14px;color: #5a80fb">&nbsp;&nbsp;{{login_name}}</ion-label>
      </ion-col>
  </ion-row> <br>
    <ion-item style="--border-bottom: red">
      <ion-label position="stacked">Enter Broadcast Topic</ion-label>
      <ion-input placeholder="   e.g. Chickahan Tayo!" [(ngModel)]="broadcast_topic" type="text"></ion-input>
    </ion-item> <br>
    <ion-row>
    <ion-col text-center>
        <ion-button mode="ios" style="width: 100%;" color="primary" (click)="goTerms()">Proceed</ion-button>
    </ion-col>
    <ion-col text-center>
        <ion-button mode="ios" style="width: 100%;" color="light" (click)="goTabs()">Cancel</ion-button>
    </ion-col> 
  </ion-row>
  <!-- <ion-item style="text-align: center;" lines="none" (click)="goTerms()">
      <ion-checkbox mode="ios" style="font-size: 10px;" color="primary"></ion-checkbox>
      <ion-label style="font-size: 12px;"><b> Read Terms and Condtions of Brixy Live</b></ion-label>
  </ion-item> -->
  <!-- <ion-row>
    <ion-col text-center>
        <ion-label style="font-size: 12px;">&nbsp;<a href="/termsconditions">Read Terms and Condtions of Brixy Live</a>&nbsp;&nbsp;<ion-checkbox color="primary"></ion-checkbox></ion-label>
    </ion-col>
  </ion-row> -->
  
     
</div>
</ion-content>