<ion-header mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()"  mode="ios">
        <ion-button  mode="ios">
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title mode="ios">Upload Profile Picture</ion-title>

      <ion-buttons slot="primary" mode="ios">
        <ion-button mode="ios">
            <img src="assets/icon/brixylogo.png" style="width: 34px;" mode="ios">
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block"  (click)="getImage()" mode="ios">Choose Profile Picture</ion-button>
  <!-- <ion-button *ngIf="image" style="margin: auto;" (click)="cropImage()">Crop</ion-button> -->
  <img *ngIf="image" [src]="image" />
  <ion-button expand="block" mode="ios" *ngIf="image" (click)="uploadphoto()">Upload Profile Picture</ion-button>
</ion-content>
