<ion-header mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()" >
        <ion-button  mode="ios">
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title mode="ios">Brixy Notification</ion-title>


    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-card mode="ios" *ngFor="let notif of systemNotif" no-margin text-left>
          <ion-card-header mode="ios" class="card_header">
            <ion-card-title mode="ios" class="card_title">Update Notification</ion-card-title>
          </ion-card-header>
          <ion-card-content mode="ios" class="card_content">
            {{notif.notification}}
            <br>
            <div text-right class="card_time">{{notif.date}} {{notif.time}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    </ion-grid>

</ion-content>
