// .image-container{
//   --background: none;
//   background-image: url('/assets/icon/brixylogo.png');
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   min-height: 150px;
// }
@media screen and (min-width: 320px) {
    .brixyicon {
        width: 27%;
        padding-top: 3%;
        margin: auto;
    }
  }
@media screen and (min-width: 360px) {
    .brixyicon {
        width: 40%;
        padding-top: 2%;
        margin: auto;
    }
  }
  @media screen and (min-width: 375px) {
    .brixyicon {
        width: 42%;
        padding-top: 3%;
        margin: auto;
    }
  }
  @media screen and (min-width: 411px) {
    .brixyicon {
        width: 50%;
        padding-top: 4%;
        margin: auto;
    }
  }
  @media screen and (min-width: 540px) {
    .brixyicon {
        width: 30%;
        padding-top: 3%;
        margin: auto;
    }
  }
  @media screen and (min-height: 812px) {
    .brixyicon {
        width: 80%;
        padding-top: 4%;
        margin: auto;
    }
  }
  @media screen and (min-height: 823px) {
    .brixyicon {
        width: 70%;
        padding-top: 4%;
        margin: auto;
    }
  }
  @media screen and (min-height: 1024px) {
    .brixyicon {
        width: 50%;
        padding-top: 4%;
        margin: auto;
    }
  }

.item_email{
    --background: #f4f5f836;
    margin-bottom: 3%;
    border: 1px solid #e4e4e4;
    border-radius: 2%;
}
.input_email{
    --background: transparent;
    font-weight: bold;
}
.forgot-pass{
    color: #000000;
    font-size: 14px;
    position: fixed;
    right: 5%;
    font-weight: bolder;
}