<ion-content class="choose-bg" padding text-center>
    <!-- <ion-slides pager="true">
        <ion-slide>
            <img src="assets/icon/imgsample2.jpg" style="width: 100%">  
        </ion-slide>
        <ion-slide>
            <img src="assets/icon/imgsample2.jpg" style="width: 100%">  
        </ion-slide>
        <ion-slide>
            <img src="assets/icon/imgsample2.jpg" style="width: 100%">  
        </ion-slide>
    </ion-slides> -->
    <!-- <ion-button (click)="toFacebook()" class="btn-default">Facebook</ion-button> -->
    <!-- <button ion-button block (click)="loginFb()">Login with Facebook</button>
    <ion-button class="btn-default">Google</ion-button>
    <ion-button (click)="toMobile()" class="btn-default">Mobile</ion-button> -->
    <!-- <firebase-ui></firebase-ui> -->
    <!-- <div class="login-container"> -->
        <!-- <div class="firebaseui-container"> -->
            <!-- <button ion-button class="google-button-login" mode="ios" (click)="google()">
                <span class="google-icon-login"><img src="assets\icon\google-512.png"></span>
                <span class="google-label-login">Google</span>
            </button> -->
            <button ion-button class="facebook-button-login" mode="ios" (click)="facebook()">
                <span class="facebook-icon-login"><img src="assets\icon\facebook-512.png"></span>
                <span class="facebook-label-login">Facebook</span>
            </button>
        <!-- </div> -->
        <!-- <ion-grid >
            <ion-row>
              <ion-col >
                <div class="image-container"></div>
              </ion-col>
            </ion-row>
          </ion-grid> -->
    <img src="assets/icon/brixylogo.png" style="padding-bottom: 2%;" class="brixyicon">
    <ion-item class="item_email" mode="ios">
        <ion-input mode="ios" class="input_email" color="dark" type="email" [(ngModel)]="login_email" placeholder="Email Address"></ion-input>
        <ion-icon mode="ios" name="mail" color="light" slot="end" align-self-end></ion-icon>
    </ion-item>
    <ion-item class="item_email" mode="ios">
        <ion-input mode="ios" class="input_email" color="dark" type="password" [(ngModel)]="login_pass" placeholder="Password"></ion-input>
        <ion-icon mode="ios" name="lock" color="light" slot="end" align-self-end></ion-icon>
    </ion-item>
    <ion-text text-right class="forgot-pass" (click)="forgotpass()">Forgot Password?</ion-text> <br>
    <ion-button expand="block" mode="ios" (click)="signUp()" style="--background:#29bed9;margin-bottom: 7%;opacity: 0.8;margin-top: 4%;">
        SIGN UP/SIGN IN
    </ion-button> 
    <ion-text mode="ios" color="light" text-center>
        <h5 mode="ios" style="margin-bottom: 4%;">OR</h5>
    </ion-text> 
    <ion-button expand="block" mode="ios" (click)="google()" style="--background:#d62d20;margin-bottom: 3%;opacity: 0.8;">
        <ion-icon slot="start" name="logo-google" mode="ios"></ion-icon>   &nbsp;
        SIGN UP WITH GOOGLE
    </ion-button> 
    <ion-button expand="block" mode="ios" (click)="facebook()" style="--background:#45619d;margin-bottom: 3%;opacity: 0.8;">
        <ion-icon slot="start" name="logo-facebook" mode="ios"></ion-icon> &nbsp;
        SIGN UP WITH FACEBOOK
    </ion-button> 
    <ion-button expand="block" mode="ios" (click)="mobile()" style="--background:#29bed9;margin-bottom: 3%;opacity: 0.8;">
        <ion-icon slot="start" name="mail" mode="ios"></ion-icon> &nbsp;
        SIGN UP WITH SMS
    </ion-button> 
    <ion-button expand="block" mode="ios" style="--background:#29bed9;opacity: 0.8;">
        <ion-icon slot="start" name="person" mode="ios"></ion-icon> &nbsp;
        DEMO/GUEST ACCESS
    </ion-button>
                <!-- <div class="firebaseui-container firebaseui-page-provider-sign-in firebaseui-id-page-provider-sign-in firebaseui-use-spinner">
                    <div class="firebaseui-card-content">
                        <div class="ion-padding"> -->
                           
                            
                            <!-- <ul class="firebaseui-idp-list">
                                <li class="firebaseui-list-item">
                                    <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-facebook firebaseui-id-idp-button" (click)="facebook()" style="background-color:#45619d" data-upgraded=",MaterialButton">
                                        <span class="firebaseui-idp-icon-wrapper">
                                            <img class="firebaseui-idp-icon" alt="" src="assets\icon\facebook-512.png" style="height: 40px !important;">
                                        </span>
                                        <span class="firebaseui-idp-text firebaseui-idp-text-short">Facebook</span>
                                    </button>
                                </li>
                                <li class="firebaseui-list-item">
                                    <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-google firebaseui-id-idp-button" (click)="google()" style="background-color:#ffffff" data-upgraded=",MaterialButton">
                                        <span class="firebaseui-idp-icon-wrapper">
                                            <img class="firebaseui-idp-icon" alt="" src="assets\icon\google-512.png">
                                        </span>
                                        <span class="firebaseui-idp-text firebaseui-idp-text-short">Google</span>
                                    </button>
                                </li>
                                <li class="firebaseui-list-item">
                                    <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-phone firebaseui-id-idp-button" (click)="mobile()" style="background-color:#ffffff" data-upgraded=",MaterialButton">
                                        <span class="firebaseui-idp-icon-wrapper">
                                            <img class="firebaseui-idp-icon" alt="" src="assets\icon\phone-512.png">
                                        </span>
                                        <span class="firebaseui-idp-text firebaseui-idp-text-short">Mobile</span>
                                    </button>
                                </li>
                                <li class="firebaseui-list-item">
                                    <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-phone firebaseui-id-idp-button" (click)="emailLogin()" style="background-color:#ffffff" data-upgraded=",MaterialButton">
                                        <span class="firebaseui-idp-icon-wrapper">
                                            <img class="firebaseui-idp-icon" alt="" src="assets\icon\email.png">
                                        </span>
                                        <span class="firebaseui-idp-text firebaseui-idp-text-short">Email</span>
                                    </button>
                                </li>
                            </ul> -->
                        <!-- </form> -->
                        <!-- </div>
                    </div> -->
                    <!-- <div class=" firebaseui-provider-sign-in-footer">
                        <p class="firebaseui-tos firebaseui-tospp-full-message">By continuing, you are indicating that you accept our<br>
                             <a href="/termsconditionslogin" class="firebaseui-link firebaseui-tos-link">Terms and Conditions</a>.
                        </p>
                    </div> -->
                <!-- </div> -->
<!-- </div> -->
    <!-- <h1 *ngIf="afAuth.auth.currentUser">
        Welcome, {{afAuth.auth.currentUser.displayName}}
    </h1>

    <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button> -->

</ion-content>
