body.show-viewfinder {
    ion-app,
    ion-content,
    .nav-decor {
      background-color: transparent !important;
      background: transparent !important;
      background-color: transparent !important;
       --ion-background-color: transparent !important;
       --background: transparent !important;
    }
  }
  body.show-native-player {
    ion-app,
    ion-content,
    .nav-decor {
      background-color: transparent !important;
      background: transparent !important;
      background-color: transparent !important;
       --ion-background-color: transparent !important;
       --background: transparent !important;
    }
  }