<ion-header mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button  mode="ios">
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title mode="ios">Forgot Password?</ion-title>

      <ion-buttons slot="primary" mode="ios">
        <ion-button mode="ios">
            <img src="assets/icon/brixylogo.png" style="width: 34px;" mode="ios">
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <br>
  <ion-list class="line-input" padding>
    <ion-row>
      <ion-col>
        <ion-label class="item_label">New Password</ion-label>
        <ion-item>
          <ion-input mode="ios" type="password" class="item_input" size="small"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding>
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Confirm Password</ion-label>
        <ion-item>
          <ion-input mode="ios" type="password" class="item_input" size="small"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list padding>
    <ion-row>
      <ion-col>
        <ion-button expand="block" mode="ios">SUBMIT</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
