<ion-header translucent mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goTab5()">
        <ion-button>
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>{{nickname}}</ion-title>

      <ion-buttons slot="primary">
        <ion-button>
            <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
        </ion-button>
      </ion-buttons>

      
    </ion-toolbar>
</ion-header>


 
<ion-content>
 
  <ion-grid>
    <ion-text color="medium" text-center>
      <!-- <p>You joined the chat as {{ currentUser }}</p> -->
    </ion-text>
    <ion-row *ngFor="let messageFDB of messagesFromDB">
 
      <ion-col size="9" *ngIf="messageFDB?.messaged_user_id !== user_id" class="message other-message">
        <!-- <b>{{ messageFDB?.nic }}</b><br> -->
        <span>{{ messageFDB?.message }}</span>
        <div class="time" text-right><br>{{ messageFDB?.date }} {{ messageFDB?.time }}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="messageFDB?.messaged_user_id === user_id" class="message my-message">
        <!-- <b>{{ message.user }}</b><br> -->
        <span>{{ messageFDB?.message }}</span>
        <div class="time" text-right><br>{{ messageFDB?.date}} {{ messageFDB?.time }}</div>
      </ion-col>
 
    </ion-row>
    <!-- for new messages -->
    <ion-row *ngFor="let message of messages">
 
      <ion-col size="9" *ngIf="message.user_id !== user_id" class="message other-message">
        <!-- <b>{{ message.user }}</b><br> -->
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="message.user_id === user_id" class="message my-message">
        <!-- <b>{{ message.user }}</b><br> -->
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
    </ion-row>
  </ion-grid>
 
</ion-content>
 
<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>








<!-- <ion-header mode="ios">
  <ion-row>
    <ion-col size="9"  mode="ios">
        <ion-item lines="none">
            <ion-avatar slot="start" style="min-width: 3rem;min-height: 3rem;">
                <img src="assets/icon/profilee.png"  mode="ios">
              </ion-avatar>
          <ion-label>
            <h2>Lalisa Manuban</h2>
            <p style="font-size: 15px;text-align: right;">
                <ion-icon name="eye" style="font-size: 17px" mode="ios"></ion-icon>&nbsp;8k
                    <ion-icon name="heart" style="font-size: 17px" mode="ios"></ion-icon>&nbsp;8k
                    <ion-icon name="trophy" style="font-size: 17px" mode="ios"></ion-icon>&nbsp;26
                   </p>
          </ion-label>
        </ion-item>
    </ion-col>
    <ion-col  mode="ios" text-right padding style="padding-top: 5%;">
       <ion-icon name="heart" style="color: #98989d;font-size:40px;"  mode="ios"></ion-icon>  
    </ion-col>
  </ion-row>
</ion-header>

<ion-content mode="ios">
  <img src="assets/icon/girl.gif" style="height: 100%;">
  <div style="background: white;bottom: 0; position: fixed;width: 100%;height: 10%;box-shadow: 5px 2px 8px black;" padding-bottom>
  
      <ion-item no-lines>
          <ion-icon slot="start" mode="ios" (click)="goTab5()" style="color: #98989d;font-size: 30px;vertical-align: middle;" name="arrow-back"></ion-icon>
          <ion-input mode="ios" placeholder="Write message" style="border: 1xp solid black;width: 100%;"></ion-input>
          <ion-icon slot="end" mode="ios" name="send" color="secondary" style="font-size: 40px;vertical-align: middle;" ></ion-icon>
      </ion-item>
      
  </div>
</ion-content> -->
