
  <ion-header mode="ios">
    <ion-toolbar mode="ios">
      <ion-buttons slot="primary" >
        <ion-button>
          <ion-icon slot="icon-only" color="primary" name="gift" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

        <ion-title>Send Gifts</ion-title>

        <ion-buttons slot="secondary" (click)="closemodal()">
          <ion-button>
              <ion-icon name="close" slot="icon-only" mode="ios"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    <ion-segment style="padding: 5px" color="primary" mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment">
          <ion-segment-button layout="icon-start" mode="ios" value="0">
              <ion-label>Bronze</ion-label>
          </ion-segment-button>
          <ion-segment-button layout="icon-start" mode="ios" value="1">
              <ion-label>Silver</ion-label>
          </ion-segment-button>
          <ion-segment-button layout="icon-start" mode="ios" value="2">
              <ion-label>Gold</ion-label>
          </ion-segment-button>
          <ion-segment-button layout="icon-start" mode="ios" value="3">
              <ion-label>Popular</ion-label>
          </ion-segment-button>
      </ion-segment>
    </ion-header>
<ion-content mode="ios" no-padding>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" >
          <ion-slide>
              <!-- Bronze -->
              <ion-list  mode="ios" style="width: 100%;" padding>
                <ion-item  mode="ios" *ngFor="let w of bronzeList;let i=index" (click)="openSilver(w)">
                     <ion-avatar  mode="ios" slot="start" >
                          <img [src]="w.image" >  
                     </ion-avatar>
                      <ion-label  mode="ios" no-padding>
                        <h4  mode="ios" >{{w.name}}</h4>
                      </ion-label>
                      <div mode="ios" slot="end" class="lvlnum">{{w.price}}</div>
                      <div style="display: inline-block;">
                        <img class="lvlicon" src="assets/icon/dollar.png"></div>  
                </ion-item>
            </ion-list>
          </ion-slide>
          <ion-slide>
              <!-- Silver -->
              <ion-list  mode="ios" style="width: 100%;" padding>
                  <ion-item  mode="ios" *ngFor="let x of silverList;let i=index" (click)="openSilver(x)">
                      <ion-avatar  mode="ios" slot="start">
                          <img [src]="x.image" >  
                      </ion-avatar>
                        <ion-label mode="ios"  no-padding>
                          <h4  mode="ios" >{{x.name}}</h4>
                        </ion-label>
                        <div mode="ios" slot="end" class="lvlnum">{{x.price}}</div>
                      <div style="display: inline-block;">
                        <img class="lvlicon" src="assets/icon/dollar.png"></div> 
                  </ion-item>
              </ion-list>
          </ion-slide>
          <ion-slide>
              <!-- Gold -->
              <ion-list  mode="ios" style="width: 100%;" padding>
                  <!-- (click)="openGold(y)" -->
                  <ion-item  mode="ios" *ngFor="let y of goldList;let i=index" (click)="openSilver(y)">
                       <ion-avatar  mode="ios" slot="start">
                          <img [src]="y.image">  
                       </ion-avatar>
                        <ion-label  mode="ios"  no-padding>
                          <h4  mode="ios" >{{y.name}}</h4>
                        </ion-label>
                        <div mode="ios" slot="end" class="lvlnum">{{y.price}}</div>
                      <div style="display: inline-block;">
                        <img class="lvlicon" src="assets/icon/dollar.png"></div> 
                  </ion-item>
              </ion-list>
          </ion-slide>
          <ion-slide>
              <!-- Popular -->
              <ion-list  mode="ios" style="width: 100%;" padding>
                  <!-- (click)="openPopular(z)" -->
                  <ion-item  mode="ios" *ngFor="let z of popularList;let i=index" (click)="openSilver(z)" >
                       <ion-avatar  mode="ios" slot="start">
                          <img [src]="z.image">  
                       </ion-avatar>
                        <ion-label  mode="ios" no-padding >
                          <h4  mode="ios">{{z.name}}</h4>
                        </ion-label>
                        <div mode="ios" slot="end" class="lvlnum">{{z.price}}</div>
                      <div style="display: inline-block;">
                        <img class="lvlicon" src="assets/icon/dollar.png"></div> 
                  </ion-item>
              </ion-list>
          </ion-slide>
  </ion-slides>
</ion-content>  
<ion-footer text-center mode="ios" style="--ion-background-color: transparent">
      <ion-toolbar mode="ios" style="--background: transparent">
        <ion-buttons slot="secondary">
          <ion-button>
            <img class="lvlicon2" src="assets/icon/imgcoin.png">
            <ion-text class="lvlnum2">{{user_coins| number:'1.0':'en-US'}}</ion-text>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button>
            <img class="lvlicon2" src="assets/icon/star.png">
            <ion-text class="lvlnum2">{{user_experience | number:'1.0':'en-US'}}</ion-text>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>