.lvlicon{
  width: 30px !important; 
  height: auto; 
  margin: auto;
}
.lvlicon2{
  width: 60px !important; 
  height: auto; 
  margin: auto;
}
.lvltext{
  text-transform: capitalize;
  font-size: 12px;
  font-family: arial;
}
.brixy-icon{
  width: 25px !important;
  height: auto;
}
// .lvlcol{
//   border: 1px solid #eff1f8;
// }
.lvlcol2{
  --background: none;
  background-image: url('/assets/icon/knight2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-right: 0;border-bottom: 0;
}
.lvlnum{
  margin: 0;
  margin-top: 4%;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lvlname{
  font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    background: #1dc1e6;
    padding: 10px;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2%;
}
.brixy_list{
  font-size: 14px;
}
.btn-circle {
   background: white;
   color: #1dc1e6;
    border-radius: 50%;
    padding: 2%;
  }
  .my-overlay {
    position: fixed;
    width: 12%;
    text-shadow: 3px 3px 5px black;
    z-index: 20;
    top: 2%;
    right: 3%;
  }


    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }

    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: #1dc1e6;
    }


    .commanderClass {
      div{
        background: rgba(245, 5, 5, 0.4);
      }
    }
  
    .generalClass {
      div{
        background: rgba(18, 4, 212, 0.4);
      }
    }
    .captainClass {
      div{
        background: rgba(238, 234, 13, 0.4);
      }
    }
