<ion-header mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()" >
        <ion-button  mode="ios">
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title mode="ios">My Account</ion-title>

      <ion-buttons slot="primary" (click)="goSettings()" mode="ios">
        <ion-button mode="ios">
          <img src="assets/icon/settings.png" style="width: 28px !important;">
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card mode="ios" style="margin: 5px;"> 
    <div [ngClass]="vip_package == '1' ? 'commanderClass':
    (vip_package == '2'? 'generalClass' : 
    (vip_package == '3' ? 'captainClass' : ''))">
      <div *ngIf="!picture">
        <img src="assets/icon/brixylogo.png" style="width:90%;margin: auto;height: 405px;">
      </div>
      <div *ngIf="picture">
        <img [src] = "complete_pic" style="width:90%;margin: auto;height: 405px;">
      </div>
    </div>
    <ion-card-header text-left style="padding-top:10%;padding-bottom: 1%;" mode="ios">
      <ion-card-subtitle>
        <ion-row>
          <ion-col no-padding> <b>User ID: </b>{{user_locator_id}}</ion-col>
          <ion-col no-padding style="margin-top: -4%;" text-right *ngIf="fname !== 'Anonymous'"> 
            <ion-button mode="ios" size="small"  (click)="goEditProfile()"><ion-icon mode="ios" name="create"></ion-icon>
              &nbsp;Edit profile</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
      <ion-card-title style="font-weight: bolder;font-size: 22px;">
       <div *ngIf="fname">{{fname}}&nbsp;{{lname}}</div>
      </ion-card-title>
      <ion-card-subtitle *ngIf="city"  style="padding-top: 4px;margin-bottom: -2%;" >From {{city}},&nbsp;{{country}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content mode="ios" no-padding>
      <ion-grid *ngIf="fname !== 'Anonymous'">
        <ion-row style="padding-bottom: 1%;">
          <ion-col>
            <ion-button mode="ios" expand="block" (click)="goFavorites()" shape="round" style="font-size: 12px;--background: #656d78">
              Followers:&nbsp;&nbsp;<div style="margin-top: 0;" class="lvlnum">{{totalFollower}}</div></ion-button>
          </ion-col>
          <ion-col>
            <ion-button mode="ios" expand="block" (click)="goFavorites()" shape="round" style="font-size: 12px;--background: #656d78">
              Following:&nbsp;&nbsp;<div style="margin-top: 0;" class="lvlnum">{{totalFollowing}}</div></ion-button>
          </ion-col>
        </ion-row> 
        <ion-row>
          <ion-col>
            <ion-segment-button>
              <ion-text class="lvltext" mode="ios">XP</ion-text>
              <img class="lvlicon" src="assets/icon/star.png">
              <ion-label class="lvlnum" color="dark">{{user_experience | number:'1.0':'en-US'}}</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col>
            <ion-segment-button>
              <ion-text class="lvltext" mode="ios">Gold Bars</ion-text>
              <img class="lvlicon" src="assets/icon/gold.png">
              <ion-label class="lvlnum" color="dark">{{gold_bar | number:'1.0':'en-US'}}</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col>
            <ion-segment-button>
              <ion-text class="lvltext" mode="ios">Coins</ion-text>
              <img class="lvlicon" src="assets/icon/imgcoin.png">
              <ion-label class="lvlnum" color="dark">{{user_coins | number:'1.0':'en-US'}}</ion-label>
            </ion-segment-button>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col style="background: #f1f1f4;"><br>
              <ion-segment-button>
                <ion-text class="lvltext" mode="ios">Level</ion-text>
                <img class="lvlicon2" src="assets/icon/medal.png">
                <ion-label class="lvlnum" style="margin-top: 2%;" color="dark">{{user_level}}</ion-label>
                <ion-text class="lvlname" >{{badge_name}}</ion-text>
              </ion-segment-button><br>
            </ion-col>
            <ion-col text-center class="lvlcol2">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div style="padding: 10%;padding-top: 0;padding-bottom: 0;">
                <div class="progress-outer">
                  <div class="progress-inner" [style.width]=" ((user_experience/bracket_to) * 100) + '%'">
                    {{user_experience}} / {{bracket_to}}
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-list mode="ios" *ngIf="fname !== 'Anonymous'">
        <ion-item (click)="goStore()">
          <ion-thumbnail slot="start" mode="ios"class="brixy-icon" >
            <img src="assets/icon/store.png">
          </ion-thumbnail>
          <ion-label class="brixy_list">Brixy Store</ion-label>
        </ion-item>
          <ion-item (click)="goWallet()">
            <ion-thumbnail slot="start" mode="ios"class="brixy-icon" >
              <img src="assets/icon/wallet.png">
            </ion-thumbnail>
            <ion-label class="brixy_list">My Wallet</ion-label>
          </ion-item>
          <!-- <ion-item (click)="goPublished()">
              <ion-icon slot="start" name="aperture" color="dark"></ion-icon>
              <ion-label class="brixy_list">My Broadcast</ion-label>
          </ion-item> -->

          <ion-item (click)="goVIPPackage()">
            <ion-thumbnail slot="start" mode="ios"class="brixy-icon" >
              <img src="assets/icon/vip.png">
            </ion-thumbnail>
            <ion-label class="brixy_list">My VIP Package</ion-label>
          </ion-item>
          <ion-item (click)="goPaymentRequest()">
            <ion-thumbnail slot="start" mode="ios"class="brixy-icon" >
              <img src="assets/icon/earnings.png">
            </ion-thumbnail>
            <ion-label class="brixy_list">Earnings & Payment Request</ion-label>
          </ion-item>

          <ion-item (click)="goPaymentmethod()">
            <ion-thumbnail slot="start" mode="ios"class="brixy-icon" >
              <img src="assets/icon/payment.png">
            </ion-thumbnail>
            <ion-label class="brixy_list">Payment Method</ion-label>
          </ion-item>
      </ion-list>
      
     
    </ion-card-content>
  </ion-card>
</ion-content>
