<ion-header>
  <ion-toolbar>
    <ion-title>Email Code</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="text-align: center;">
  <!--  <img src="assets/icon/profilee.png" style="width: 35%;padding-top: 15%;padding-bottom: 15%;">-->
  <ion-list mode="ios">
     
  <ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label position="floating" style="color: #cecece;">Code</ion-label>
          <!-- <ion-input type="number" value="{{inpt_mobile_num}}" placeholder="e.g. 9123456789" [(ngModel)]="inpt_mobile"></ion-input> -->
          <!-- <ion-input type="text"  placeholder="e.g. 9123456789" [(ngModel)]="inpt_mobile"></ion-input> -->
          <ion-input type="email" [(ngModel)]="email_code"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <br>
  <ion-button expand="full" (click)="confirm()">Confirm</ion-button>
</ion-list>
</ion-content>
<ion-footer>
<p style="text-align: center;font-size: 12px;"><b>Developed by: Telmo Solutions</b></p>
</ion-footer>
