<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-button mode="ios">
          <ion-icon name="arrow-back"  mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>

      <ion-title>VIP Package</ion-title>

      <ion-buttons slot="primary" mode="ios">
          <ion-button mode="ios">
              <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios" >

  <ion-card mode="ios" no-padding style="box-shadow: none;"> 
    <ion-card-header text-left mode="ios" no-padding>
      <ion-card-subtitle style="padding-bottom: 0.5%;"><b>Go VIP</b></ion-card-subtitle>
      <ion-card-title style="font-weight: bolder;font-size: 21px;">Choose a Subscription Package</ion-card-title>
    </ion-card-header><br>
    <ion-card-content mode="ios" no-padding>
      <ion-row>
        <ion-col no-padding>
          <!-- for captain -->
          <ion-list *ngIf="vippackage=='3'" mode="ios">
            <ion-item mode="ios" lines="none" style="font-size: 13px;">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_package" mode="ios">Captain</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special avatar</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special profile card frame</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">distinctive chat bubble</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">10% discount on private live</ion-label>
            </ion-item>
          </ion-list>

           <!-- for general -->
           <ion-list *ngIf="vippackage=='2'" mode="ios">
            <ion-item mode="ios" lines="none" style="font-size: 13px;">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_package" mode="ios">General</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special avatar</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special profile card frame</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">distinctive chat bubble</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special entrance effect</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">25% discount on private live</ion-label>
            </ion-item>
          </ion-list>

           <!-- for captain -->
           <ion-list *ngIf="vippackage=='1'" mode="ios">
            <ion-item mode="ios" lines="none" style="font-size: 13px;">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_package" mode="ios">Commander</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special avatar</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special profile card frame</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">distinctive chat bubble</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">special entrance effect</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">Guest beam (cam 2 cam)</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">50% discount on private live</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col no-padding class="bk_treasure"></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

    <ion-radio-group [(ngModel)]="vippackage" >
      <ion-row padding style="padding-top: 0;padding-bottom: 0;">
        <ion-col style="margin-right: 10px;padding: 0;" class="ion-align-self-start">
          <ion-item lines="none" class="radio_uncheck">
            <div padding style="width: 100%;">
              <ion-radio color="light" class="item_radio" [(disabled)]="withPackage" value="3"></ion-radio>
              <br><br>
              <img class="lvlicon" src="assets/icon/imgcoin.png"><br>
              <ion-text class="lvlnum" style="font-weight: bolder;">{{300 | number:'1.0':'en-US'}}</ion-text>
              <h3 class="prename"><b>Captain</b></h3>
            </div>
          </ion-item>
        </ion-col>
        <ion-col style="margin-right: 10px;padding: 0;" class="ion-align-self-start">
          <ion-item lines="none" class="radio_uncheck">
            <div padding style="width: 100%;">
              <ion-radio color="light" class="item_radio" [(disabled)]="withPackage" value="2"></ion-radio>
              <br><br>
              <img class="lvlicon" src="assets/icon/imgcoin.png"><br>
                <ion-text class="lvlnum" style="font-weight: bolder;">{{500 | number:'1.0':'en-US'}}</ion-text>
                <h3 class="prename"><b>General</b></h3>
            </div>
          </ion-item>
        </ion-col>
        <ion-col style="padding: 0;" class="ion-align-self-start">
          <ion-item lines="none" class="radio_uncheck">
            <div padding style="width: 100%;">
              <ion-radio color="light" class="item_radio" [(disabled)]="withPackage" value="1"></ion-radio>
              <br><br>
              <img class="lvlicon" src="assets/icon/imgcoin.png"><br>
              <ion-text class="lvlnum" style="font-weight: bolder;">{{ 1000 | number:'1.0':'en-US'}}</ion-text>
              <h3 class="prename"><b>Commander</b></h3>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      
  </ion-radio-group>

      <ion-row padding  text-center style="padding-bottom: 0;">
          <ion-col>
            <p *ngIf="withPackage" style="color: #737373;font-size: 14px;">
              You are currently subscribed as a {{yourVIP}}
            </p>
              <ion-button expand="block" mode="ios" (click)="subscribe()">SUBSCRIBE</ion-button>
          </ion-col>
      </ion-row>
   
      <ion-row padding text-center style="padding-top: 0;" *ngIf="withPackage">
        <ion-col size="1"></ion-col>
        <ion-col size="10" text-center>
          <ion-item lines="none" text-center>
            <ion-label text-center style="font-size: 14px;"><b> Monthly Subscription Auto Renew</b></ion-label>
            <ion-checkbox text-center (click)="addValue($event)" [(ngModel)]="monthlySubscription" slot="start" mode="ios" style="font-size: 10px;margin-right: 0px;" color="primary"></ion-checkbox>
          </ion-item>
          <p text-center style="color: #737373;font-size: 13px;padding: 0px;">
            The VIP Package is on a fixed 30 day subscription. Unchecking the Auto Renew automatically cancels your
            subscription on the succeeding month.
          </p>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- <ion-row padding text-center style="padding-top: 0;">
        <ion-col>
          <h5 style="font-weight: bold;">Lorem Title here</h5>
          <p text-center style="color: #737373;font-size: 13px;padding-left: 20px;padding-right: 20px;">
            The VIP Package is on a fixed 30 day subscription. Unchecking the Auto Renew automatically cancels your
            subscription on the succeeding month.
          </p>
        </ion-col>
    </ion-row> -->
  
</ion-content>
