<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-button mode="ios">
          <ion-icon name="arrow-back"  mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>

      <ion-title>VIP Package</ion-title>

      <ion-buttons slot="primary" mode="ios">
          <ion-button mode="ios">
              <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
