<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="reportUser()">
        <ion-button  mode="ios">
          <img src="assets/icon/report.png" style="width: 32px;" mode="ios">&nbsp;Report
        </ion-button>
      </ion-buttons>
      <!-- <ion-buttons slot="secondary" mode="ios">
        <ion-button  mode="ios">
            <ion-icon name="heart-dislike" color="warning"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons> -->

      <ion-buttons slot="primary" (click)="goBack()" mode="ios">
        <ion-button mode="ios">
          <ion-icon color="primary" name="close-circle" size="large" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <ion-card mode="ios" style="margin: 0;"> 
    
      <div *ngIf="!user_photo">
        <img src="assets/icon/brixylogo.png" style="width:90%;margin: auto;height: 405px;">
      </div>
      <div *ngIf="user_photo">
      <img [src] = "user_photo" style="width:90%;margin: auto;height: 405px;">
      </div> 
    
    <ion-card-header text-left style="padding-top:10%;padding-bottom: 1%;" mode="ios">
      <ion-card-subtitle>
        <ion-row>
          <ion-col no-padding> <b>User ID: </b>{{user_locator_id}}</ion-col>
          <ion-col no-padding style="margin-top: -3%;" text-right> 
            <button id="btn_custom" (click)="follow()" [ngClass]="status ? 'myHeartFollow' : 'myHeartUnfollow'">
              <span></span>
            </button>
            
              
              <!-- <ion-icon name="heart" (click)="follow()" [ngClass]="status ? 'myHeartFollow' : 'myHeartUnfollow'" mode="ios"></ion-icon> -->
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
      <ion-card-title >
       <ion-row>
        <ion-col no-padding> <b style="font-size: 22px;">{{fname+" "+lname}}</b></ion-col>
        <ion-col no-padding style="margin-top: 2%;" text-right> 
          <button id="btn_custom" (click)="message()" style="background:  #1dc1e6;color: white">
            <span>Message</span>
          </button>
            <!-- <ion-icon name="heart" (click)="follow()" [ngClass]="status ? 'myHeartFollow' : 'myHeartUnfollow'" mode="ios"></ion-icon> -->
        </ion-col>
      </ion-row>
      </ion-card-title>
      <ion-card-subtitle style="margin-top: -2%;" >From {{city+", "+country}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content mode="ios" no-padding>
      <ion-grid>
        <ion-row style="padding-bottom: 1%;">
          <ion-col>
            <ion-button mode="ios" expand="block"  shape="round" style="font-size: 12px;--background: #656d78">
              Followers:&nbsp;&nbsp;<div style="margin-top: 0;" class="lvlnum">{{followers}}</div></ion-button>
          </ion-col>
          <ion-col>
            <ion-button mode="ios" expand="block" shape="round" style="font-size: 12px;--background: #656d78">
              Following:&nbsp;&nbsp;<div style="margin-top: 0;" class="lvlnum">{{following}}</div></ion-button>
          </ion-col>
        </ion-row> 
        <ion-row>
          <ion-col>
            <ion-segment-button>
              <ion-text class="lvltext" mode="ios">XP</ion-text>
              <img class="lvlicon" src="assets/icon/star.png">
              <ion-label class="lvlnum" color="dark">{{user_experience | number:'1.0':'en-US'}}</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col>
            <ion-segment-button>
              <ion-text class="lvltext" mode="ios">Gold Bars</ion-text>
              <img class="lvlicon" src="assets/icon/gold.png">
              <ion-label class="lvlnum" color="dark">{{gold_bars | number:'1.0':'en-US'}}</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col>
            <ion-segment-button>
              <ion-text class="lvltext" mode="ios">Coins</ion-text>
              <img class="lvlicon" src="assets/icon/imgcoin.png">
              <ion-label class="lvlnum" color="dark">{{user_coins | number:'1.0':'en-US'}}</ion-label>
            </ion-segment-button>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col style="background: #f1f1f4;" size="5.5"><br>
              <ion-segment-button>
                <ion-text class="lvltext" mode="ios">Level</ion-text>
                <img class="lvlicon2" src="assets/icon/medal.png">
                <ion-label class="lvlnum" style="margin-top: 2%;" color="dark">{{user_level}}</ion-label>
                <ion-text class="lvlname" >{{badge_name}}</ion-text>
              </ion-segment-button><br>
            </ion-col>
            <ion-col size="0.5">
            </ion-col>
            <ion-col text-center class="lvlcol2" size="6">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div style="padding: 10%;padding-top: 0;padding-bottom: 0;">
                <div class="progress-outer">
                  <div class="progress-inner" [style.width]=" ((user_experience/bracket_to) * 100) + '%'">
                    {{user_experience}} / {{bracket_to}}
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
  <!-- <ion-card mode="ios" style="color: white;" text-center>
    <br><br>
    <ion-card-header mode="ios" no-padding>
      <div *ngIf="!user_photo">
        <img src="assets/icon/brixylogo.png" style="width:100px;height:100px;display: block;margin: auto">
      </div>
      <div *ngIf="user_photo">
       <img [src] = "user_photo" style="width:100px;height:100px;display: block;margin: auto">
      </div> 
      <ion-card-title no-padding style="color: white;">{{fname+" "+lname}}<br>
        <ion-label style="font-size: 13px;">User ID: {{user_locator_id}}</ion-label> <br>
        <ion-label style="font-size: 13px;">{{city+", "+country}}</ion-label> 
          <ion-grid no-padding>
            <ion-row>
                <ion-col>
                    <ion-label style="font-size: 15px;">Level</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label style="font-size: 15px;">XP</ion-label>
              </ion-col>
                <ion-col>
                    <ion-label style="font-size: 15px;">Gold bars</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <img src="assets/icon/medal.png" style="width: 30px !important; height: 30px; margin: auto;">
                      <ion-label style="font-size: 15px;">{{user_level}}</ion-label><br/>
                      <ion-label style="font-size: 15px;">{{badge_name}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <img src="assets/icon/gold.png" style="width: 30px !important; height: 30px; margin: auto;">
                    <ion-label style="font-size: 15px;">{{user_experience | number:'1.0':'en-US'}}</ion-label>
                </ion-col>
                  <ion-col>
                      <img src="assets/icon/gold.png" style="width: 30px !important; height: 30px; margin: auto;">
                      <ion-label style="font-size: 15px;">{{gold_bars | number:'1.0':'en-US'}}</ion-label>
                  </ion-col>
                </ion-row>
              <ion-row style="text-align: center;padding: 0%;">
                <ion-col>
                  <div>
                      <ion-button mode="ios" shape="round" color="light" style="font-size: 12px;">Followers: {{followers}}</ion-button>
                  </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-button mode="ios" shape="round" color="light" style="font-size: 12px;">Following: {{following}}</ion-button>
                    </div>
                  </ion-col>
              </ion-row>
              <ion-row>

                <div style="width:100px;height:100px;display: block;margin: auto">

                  <ion-icon name="heart" (click)="follow()" [ngClass]="status ? 'myHeartFollow' : 'myHeartUnfollow'" mode="ios"></ion-icon>
              
                </div>
              </ion-row>
            </ion-grid>
      </ion-card-title>
    </ion-card-header>
  </ion-card> -->
  
</ion-content>