.round-button {
    line-height: 40px;
    border: 2px solid #f5f5f5;
    border-radius: 100%;
    color: #f5f5f5;
    /* text-align: center; */
    /* text-decoration: none; */
    background: #1dc1e6;
    box-shadow: 0 0 3px grey;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;

}
.round-button:hover {
    background: #777555;
}