<ion-header no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios">
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-searchbar clearInput placeholder="Search Profile" mode="ios" [(ngModel)]="search"></ion-searchbar>

        <ion-button style="margin-top: 1.5%;" (click)="searchProfile()" size="small" slot="primary" mode="ios" >
            SEARCH
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list mode="ios">
          <ion-item id="for_thumbnail" mode="ios" (click)="openliveprofile(user?.id)" *ngFor="let user of userProfiles">
            <ion-thumbnail slot="start" mode="ios">
              <div *ngIf="!user?.picture">
                <img src="assets/icon/brixylogo.png" mode="ios">
              </div>
              <div *ngIf="user?.picture">
                <img [src] = "user?.picture" mode="ios">
              </div> 
            </ion-thumbnail>
            <ion-label mode="ios">
              <h2 style="font-size: 18px;" mode="ios">{{user?.fname+" "+user?.lname}}</h2>
              <h3 style="font-size: 16px;" mode="ios"><img src="assets/icon/location.png" class="colored_pin">  {{user?.city+", "+user?.country}}</h3>
              <h6 mode="ios" style="font-size: 15px;font-weight: lighter;padding-top: 2%;"> 
                <img src="assets/icon/knight2.png" class="badge_knight2">&nbsp;{{user?.badge_name}}&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="assets/icon/medal.png" class="badge_knight2">&nbsp;{{user?.user_level}}&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="assets/icon/follow.png" class="badge_knight2">&nbsp;{{user?.follower}}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
