<ion-content class="homebackground">
  <div class="ion-padding" style="text-align: center;">
        <img src="assets/icon/brixylogo.png" class="img-splashlogo"><br>
        <p><b>Earn. Shine. and Be a Star</b></p>
        <img src="assets/icon/loading.gif" class="img-loading">
        
  </div>
</ion-content>
