.lvlicon2{
    width: 40px !important;
    height: 40px;
    margin: auto;
    margin-bottom: -1%;
    margin-right: 2%;
  }
  .lvltext{
    text-transform: capitalize;
    font-size: 12px;
    font-family: arial;
  }
  .lvlnum{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }

  .lvlicon3{
    width: 30px !important;
    height: 28px;
    margin: auto;
    margin-bottom: -1%;
    margin-right: 1%;
  }
  .lvltext2{
    text-transform: capitalize;
    font-size: 12px;
    font-family: arial;
  }
  .lvlnum2{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
  }